aiohttp==3.9.3
aiosignal==1.3.1
anyio
argon2-cffi
argon2-cffi-bindings
asttokens
async-timeout==4.0.3
attrs
autofaiss==2.17.0
backcall
beautifulsoup4
bleach
Bottleneck
Brotli
certifi
cffi
chardet==5.2.0
charset-normalizer
click==8.1.7
colorama
comm
cycler==0.12.1
Cython==0.29.14
datasets==2.19.1
debugpy
decorator
defusedxml
dill==0.3.8
distro
embedding-reader==1.7.0
entrypoints
et-xmlfile==1.1.0
exceptiongroup
executing
faiss==1.7.4
faiss-cpu==1.8.0
fastjsonschema
filelock
fire==0.5.0
frozenlist==1.4.1
fsspec
gensim==3.8.3
groq==0.6.0
h11
httpcore
httpx
huggingface-hub==0.23.0
idna
imbalanced-learn==0.12.2
imblearn==0.0
importlib-metadata
importlib_resources
ipykernel
ipython
ipython-genutils==0.2.0
ipywidgets
javalang==0.13.0
jedi
jieba==0.42.1
Jinja2==3.1.3
joblib==1.3.2
jsonlines
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter_client
jupyter_core
jupyterlab_pygments
jupyterlab_widgets
kiwisolver==1.4.5
Levenshtein==0.25.1
lightgbm==4.3.0
loguru==0.7.2
MarkupSafe
matplotlib==3.1.3
matplotlib-inline
mistune
mkl-fft==1.3.1
mkl-random
mkl-service==2.4.0
multidict==6.0.5
multiprocess==0.70.16
nbclient
nbconvert
nbformat
nest-asyncio
nlg-eval
nltk==3.8.1
notebook
numexpr
numpy==1.22.0
openai==0.28.0
openpyxl==3.1.2
packaging
pandas==1.4.1
pandas-stubs
pandocfilters
parso
pickleshare
pillow==10.2.0
pkgutil_resolve_name
platformdirs
prometheus_client
prompt-toolkit
psutil
pure-eval
pyarrow==15.0.2
pyarrow-hotfix==0.6
pycparser
pydantic
pydot==1.4.1
Pygments
pyparsing==3.1.2
PySocks
python-dateutil
pytz
pywin32==305.1
pywinpty
PyYAML
pyzmq
qtconsole
QtPy
rapidfuzz==3.9.0
referencing
regex
requests
rouge==1.0.1
rpds-py
safetensors
scikit-learn==1.3.2
scipy==1.9.1
Send2Trash
similarities==1.1.7
six
smart-open==7.0.4
sniffio
soupsieve
stack-data
termcolor==2.4.0
terminado
text2vec==1.2.9
texttable==1.5.0
Theano==1.0.5
threadpoolctl==3.4.0
tiktoken==0.7.0
tinycss2
tokenizers
torch
torch-cluster
torch-scatter
torch-sparse
torch-spline-conv
torch_geometric==2.5.2
torchvision
tornado
tqdm
traitlets
transformers
tree-sitter==0.21.3
types-pytz
typing_extensions==4.10.0
tzdata
urllib3
wcwidth
webencodings
widgetsnbextension
win-inet-pton
win32-setctime==1.1.0
wrapt==1.16.0
xdg==6.0.0
xgboost==2.0.3
xxhash==3.4.1
yarl==1.9.4
zipp
